td{
    padding: 2em;

}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1A3D7D;
    font-family: 'EB Garamond', serif;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    size: 40px;
    color:#1A3D7D;
    font-family: 'EB Garamond', serif;
}
.banner{
    margin-top: -1em;
    position:relative;
}
.banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    top: 0;
}
.banner__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.banner__content{
    width: 90%;
    color:white;
    text-align: center;
    position:absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    font-weight: bold;
}
